<header class="masthead">
  <h1 class="masthead-heading">Tweetful</h1>
  <p class="masthead-intro">Making The Internet a Little More Thoughtful</p>
</header>


<div class="info-container">
  <section class="info">
    <header> 
  <header>
    <h2>Peter Lonestar</h2>
    <h3>Founder</h3>
  </header>
  <p>
  Once you are done with the project, save a working copy on a gh-pages branch on GitHub and submit the URL to your mentor, so you can discuss your first project. If your not familiar with GitHub, the next lesson will get you there, or head over
  </p>
</section>

  <section class="info">
    <header> 
  <header>
    <h2>Bill Billerson</h2>
    <h3>CFO</h3>
  </header>
  <p>
  Once you are done with the project, save a working copy on a gh-pages branch on GitHub and submit the URL to your mentor, so you can discuss your first project. If your not familiar with GitHub, the next lesson will get you there, or head over
  </p>
</section>

  <section class="info">
    <header> 
  <header>
    <h2>You!</h2>
    <h3>CTO</h3>
  </header>
  <p>
  Once you are done with the project, save a working copy on a gh-pages branch on GitHub and submit the URL to your mentor, so you can discuss your first project. If your not familiar with GitHub, the next lesson will get you there, or head over
  </p>
</section>

<footer>
</footer>
